// Implementation-specific options

var base_url = '/dance-volunteering';
var full_url = 'https://schlachter.ca' + base_url;
var full_path = '/var/www/schl/dance-volunteering';

var crypto = require('crypto');
var linkSecret = crypto.randomBytes(64).toString('hex');

var opt = {
  db: 'mongodb://127.0.0.1:27017/osdsvol',
  mongoose: {
    useMongoClient: true,
    keepAlive: 120
  },
  base_url: base_url,
  full_path: full_path,
  full_url: full_url,
  title: 'OSDS Volunteering',
  linkSecret: linkSecret,
  // For passport-facebook
  facebook: {
    clientID: 'fb_clientid',
    clientSecret: 'fb_clientsecret',
    callbackURL: full_url + '/auth/facebook/callback'
  },
  // For passport-google-oauth20
  google: {
    clientID: 'g_clientid',
    clientSecret: 'g_clientsecret',
    callbackURL: full_url + '/auth/google/callback'
  },
  // For sending email
  email: {
    user: 'user%40gmail.com',
    pass: 'app_password',
    server: 'smtp.gmail.com', // SMTP
    name: "OSDS Volunteers" // Name for the 'From' field
  },
  sessionsecret: 'secret'
};

module.exports.opt = opt;
