server {
	listen 80 default_server;
	listen [::]:80 default_server ipv6only=on;

	server_name volunteer.swingottawa.ca;

	location / {return 301 https://volunteer.swingottawa.ca$request_uri;}
        location /.well-known {allow all;}

}

server {
	listen 443 ssl http2;
	listen [::]:443 ssl http2;

	server_name volunteer.swingottawa.ca;

	ssl_certificate /etc/letsencrypt/live/volunteer.swingottawa.ca/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/volunteer.swingottawa.ca/privkey.pem;
	ssl_session_timeout 1d;
	ssl_session_cache shared:SSL:50m;
	ssl_session_tickets off;

	ssl_dhparam /etc/nginx/dhparam.pem;

	ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
	ssl_ciphers 'ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS';
	ssl_prefer_server_ciphers on;

	add_header Strict-Transport-Security max-age=15768000;

	ssl_stapling on;
	ssl_stapling_verify on;

	ssl_trusted_certificate /etc/nginx/lets-encrypt-x3-cross-signed.pem;

	resolver 8.8.4.4 8.8.8.8 valid=300s;
	resolver_timeout 10s;

	# Temporary configuration for disabling the node app
	#root /var/www;
	#index index.html;

	location / {
		proxy_pass http://127.0.0.1:19445/;
		proxy_http_version 1.1;
		proxy_cache_bypass $http_upgrade;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection "upgrade";
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header Host $http_host;
		proxy_set_header X-NginX-Proxy true;
		proxy_read_timeout 5m;
		proxy_connect_timeout 5m;
		proxy_redirect off;
	}

}
