{
  "apps": [{
    "name": "dance-volunteering",
    "script": "/var/www/dance-vol/bin/www",
    "watch": ["app.js", "config.js", "bin", "controllers", "models", "package.json", "public", "routes", "views"]
  }]
}