doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    // First, all the scripts
    script
      include ../public/javascripts/jquery224.min.js
    script
      include ../public/javascripts/moment.min.js
    script
      include ../public/bootstrap/bootstrap.min.js
    script.
      user = !{JSON.stringify(user)};
    script.
      shifts = !{JSON.stringify(shifts)};
    script
      include ../public/javascripts/googleanalytics.js
    script
      include ../public/javascripts/pikaday.min.js
    script
      include ../public/javascripts/main.js
    // Then the stylesheets
    style
      include ../public/bootstrap/bootstrap.min.css
    style
      include ../public/bootstrap/bootstrap-theme.min.css
    style
      include ../public/stylesheets/pikaday.css
    style
      include ../public/stylesheets/style.css
  body
    div.description(style="display:none;")
      img(src="android-chrome-192x192.png")
      p Volunteer with the <a href="http://www.swingottawa.ca">Ottawa Swing Dance Society</a>! The Ottawa Swing Dance Society's success comes from the energy and dedication of our exceptional  team of volunteers.  In exchange for you spending time helping us out with that dance you will receive free admission.
    div.container
      ul.nav.pull-right
        div.dropdown#dropdown
          button#drop3.btn.btn-primary.dropdown-toggle(type='button',data-toggle='dropdown')
          ul.dropdown-menu
            li
              a(href='#', data-toggle="modal", data-target="#emailPrefs") Email preferences
            li.divider
            li
              a(href='mailto:osdsvol@gmail.com') Contact us
            li.divider
            li
              a(href='logout') Log out
              
      h1= title
      p#user
      p#date.well
      table(id='shifts')
        thead
          tr
            th Time
            th#volCol Volunteer(s)
        tbody
      
      #noShifts.modal.fade(role='dialog')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title Shifts closed
            .modal-body
              p#noShiftsMessage Shifts are closed for this week! Volunteering shifts for next Friday open on Monday.
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') OK
        
      
      #emailPrefs.modal.fade(role='dialog')
        form(action="emailPrefs",method="post")
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h4.modal-title Email preferences
              .modal-body
                p Receive an email for:
                  br
                  br
                  strong Signing up for shifts
                  br
                  <input type="checkbox" name="sendChangedShift" id="sendChangedShift" /> I change the time of my volunteering shift
                  br
                  <input type="checkbox" name="sendDeletedShift" id="sendDeletedShift" /> I cancel my volunteering shift
                  br
                  <input type="checkbox" name="sendNewShift" id="sendNewShift" /> I sign up for a new volunteering shift
                  br
                  br
                  strong When I volunteer
                  br
                  <input type="checkbox" name="sendReminder" id="sendReminder" /> A reminder of my volunteering shift (Thursday at 6 PM)
                  br
                  <input type="checkbox" name="sendThanks" id="sendThanks" /> A thank you email for volunteering
                  br
                  br
                  strong Each week
                  br
                  <input type="checkbox" name="sendVolunteeringCall" id="sendVolunteeringCall" /> A notification when shifts for the coming week are available (Monday morning)
                  br
                  <input type="checkbox" name="sendLastCall" id="sendLastCall" /> A notification if any shifts are still available on Friday morning
                  br
                  br
                  span#adminEmail(style="display:none;")
                    strong Exec
                    br
                    <input type="checkbox" name="sendSchedule" id="sendSchedule" /> The volunteer schedule each week (Friday at 5 PM)
              .modal-footer
                input.btn.btn-default(type='submit', value="Save")
                
      div#adminTools(style="display:none;")
        h2.center <br> Exec tools
        p.center
          input#otherDel1.btn.btn-default.btnShow(value="Delete a shift",onclick="showDelButtons()")
          input#otherDel2.btn.btn-primary.btnHide(value="Hide delete buttons",onclick="showDelButtons()")
          input#details1.btn.btn-default.btnShow(value="See volunteer details",onclick="showDetails()")
          input#details2.btn.btn-primary.btnHide(value="Hide volunteer details",onclick="showDetails()")
          input#execs1.btn.btn-default.btnShow(value="Manage admins",onclick="showAdmins()")
          input#execs2.btn.btn-primary.btnHide(value="Hide admin management",onclick="showAdmins()")
          input#cancel1.btn.btn-default.btnShow(value="Cancel a week",onclick="showCancel()")
          input#cancel2.btn.btn-primary.btnHide(value="Hide cancelled weeks",onclick="showCancel()")
          input#template1.btn.btn-default.btnShow(value="Modify template",onclick="showTemplate()")
          input#template2.btn.btn-primary.btnHide(value="Hide template",onclick="showTemplate()")
        table#userDetails.btnHide
          thead
            tr
              th Time
              th Volunteer
              th Email address
          tbody
        div#adminDetails.btnHide
          h3 Add an admin
          p To add an admin, search volunteers by their name:
          input#adminInput
          span &nbsp;
          button#adminButton.btn.btn-primary Search
          br
          div#tooShort.alert.alert-warning(style="display:none;") Search query is too short! (minimum four characters)
          table#adminResults(style="display:none;")
            thead
              tr
                th Name
                th Email address
            tbody
          h3 Current admins:
          table#currentAdmins
            thead
              tr
                th Name
                th Email address
            tbody
        div#cancelWeeks.btnHide
          h3 Cancel a week
          table#cancelledWeeks
            thead
              tr
                th Cancelled weeks
            tbody
          p Select a week to cancel:
          input(type="text", id="datepicker")
          button#cancelButton(type="button", class="btn btn-primary") Cancel week
        div#template.btnHide
          h3 Modify the shift template
          p To modify the layout of shifts, edit them below and then click 'Save'. &nbsp;
            span(style="background-color: yellow;") The shifts will take effect starting next week. <br>
          table#templateTable
            thead
              tr
                th Time
                th Number of <br>non-exec volunteers
                th Number of <br>exec volunteers
                th New volunteers can<br>sign up for this shift
            tbody
          button.btn.btn-primary(type='button', onclick='addRow()') Add a row
          span &nbsp;
          button.btn.btn-primary(type='button', onclick='deleteLastRow()') Remove last row
          br
          br
          button.btn.btn-primary(type='button', onclick='newTemplate()') Save
        
        #newTemplate.modal.fade(role='dialog')
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h4.modal-title Template saved
              .modal-body
                p The template has been saved and will take effect starting this coming week. You'll receive an email confirmation of this change.
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') OK
        #delAdmin.modal.fade(role='dialog')
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h4.modal-title Admin removed
              .modal-body
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') OK
       
      #privacyPolicy.modal.fade(role='dialog')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title Privacy policy
            .modal-body
              p If you are not logged in, we collect basic information about your computer and your visit, including your IP address, the type of operating system and browser you use, your computer's general location, what pages you visit on our site, and what links you click on.
              p By logging in, we collect the following personal information, as provided to us by either Google, Facebook, or Microsoft (according to your choice of login provider and conditional on your acceptance of their respective terms of service):
              ul
                li Full name
                li Email address
                li Internet address (URL) of your profile picture
                li ID of your login provider’s account (e.g. Facebook profile ID)
              p Site administrators (execs) are able to see this information and will use it to verify your volunteering shift and possibly to contact you regarding it. Our automatic email system will use your full name and email address to email you reminders and confirmations of your shift, according to your email preferences. You may also receive occasional emails related to your account (e.g. if you become an exec, you will receive an email confirming this).
              p The following information will be publicly displayed for the week in which you have signed up for a volunteering shift, to indicate that you have signed up for the shift:
              ul
                li First name(s) and last initial
                li Profile picture
              p Your personal information is stored electronically according to industry best practices, is encrypted in transit, and will not be shared with third parties. If you have any questions or concerns, or if you wish to manually update your personal information stored with us, please contact <a href="mailto:osdsvol@gmail.com">osdsvol@gmail.com</a>
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') OK

      div#footer
        p
          a(href="https://github.com/davidschlachter/dance-volunteering/")
            include ../public/images/GitHub-Mark-32px.png.b64
            span Open-source on GitHub
          span &nbsp; |&nbsp; 
          a(href="#", onclick="$('#privacyPolicy').modal('show');") Privacy policy
