doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css', integrity='sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r', crossorigin='anonymous')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    script.
      user = !{JSON.stringify(user)};
    script.
      shifts = !{JSON.stringify(shifts)};
    script(src='javascripts/googleanalytics.js',async)
    script(src='javascripts/main.js')
  body
    div.container
      ul.nav.pull-right
        div.dropdown
          button#drop3.btn.btn-primary.dropdown-toggle(type='button',data-toggle='dropdown')
          ul.dropdown-menu
            li
              a(href='#', data-toggle="modal", data-target="#emailPrefs") Email preferences
            li.divider
            li
              a(href='logout') Log out
              
      h1= title
      p#user
      p#date.well
      table(id='shifts')
        thead
          tr
            th Time
            th#volCol Volunteer(s)
        tbody
      
      #noShifts.modal.fade(role='dialog')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title Shifts closed
            .modal-body
              p Shifts are closed for this week! Volunteering shifts for next Friday open on Monday.
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') OK
        
      
      #emailPrefs.modal.fade(role='dialog')
        form(action="emailPrefs",method="post")
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h4.modal-title Email preferences
              .modal-body
                p Receive an email for:
                  br
                  br
                  strong Signing up for shifts
                  br
                  <input type="checkbox" name="sendChangedShift" id="sendChangedShift" /> I change the time of my volunteering shift
                  br
                  <input type="checkbox" name="sendDeletedShift" id="sendDeletedShift" /> I cancel my volunteering shift
                  br
                  <input type="checkbox" name="sendNewShift" id="sendNewShift" /> I sign up for a new volunteering shift
                  br
                  br
                  strong When I volunteer
                  br
                  <input type="checkbox" name="sendReminder" id="sendReminder" /> A reminder of my volunteering shift (Thursday at 6 PM)
                  br
                  <input type="checkbox" name="sendThanks" id="sendThanks" /> A thank you email for volunteering
                  br
                  br
                  strong Each week
                  br
                  <input type="checkbox" name="sendVolunteeringCall" id="sendVolunteeringCall" /> A notification when shifts for the coming week are available (Monday morning)
                  br
                  br
                  span#adminEmail(style="display:none;")
                    strong Exec
                    br
                    <input type="checkbox" name="sendSchedule" id="sendSchedule" /> The volunteer schedule each week (Friday at 5 PM)
                    br
                    <input type="checkbox" name="sendDetails" id="sendDetails" /> A notification every time any shift is added, changed, or deleted
              .modal-footer
                input.btn.btn-default(type='submit', value="Save")
                
      div#adminTools(style="display:none;")
        h2 Exec tools:
        p
          input#otherDel1.btn.btn-default(value="Delete a shift",onclick="showDelButtons()")
          input#otherDel2.btn.btn-primary(value="Hide delete buttons",onclick="showDelButtons()",style="display:none;")
          input#details1.btn.btn-default(value="See volunteer details",onclick="showDetails()")
          input#details2.btn.btn-primary(value="Hide volunteer details",onclick="showDetails()",style="display:none;")
          input#execs1.btn.btn-default(value="Manage admins",onclick="showAdmins()")
          input#execs2.btn.btn-primary(value="Hide admin management",onclick="showAdmins()",style="display:none;")
        table#userDetails
          thead
            tr
              th Time
              th Volunteer
              th Email address
          tbody
        div#adminDetails(style="display:none;")
          h3 Add an admin
          p To add an admin, search volunteers by their name:
          input#adminInput
          span &nbsp;
          button#adminButton.btn.btn-primary Search
          br
          div#tooShort.alert.alert-warning(style="display:none;") Search query is too short! (minimum four characters)
          table#adminResults(style="display:none;")
            thead
              tr
                th Name
                th Email address
            tbody
          h3 Current admins:
          table#currentAdmins
            thead
              tr
                th Name
                th Email address
            tbody
