extends layout

block content
  div.container
    h1= title
    p= user
    p#date
    table(id='shifts',class='table',data-url='getShifts')
      thead
        tr
          th Time
          th#volCol Volunteer(s)
      tbody