extends layout

block content
  div.container
    h1= title
    p#date
    table(id='shifts',class='table',data-url='getShifts')
      thead
        tr
          th Time
          th Volunteer(s)
      tbody
      //
        tr
          th Time
          th Volunteer
        tr
          td 7:30 - 8:00
          td <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/2/005/06d/018/2c6a451.jpg" style="vertical-align:middle;height:3em;width:3em;" /> David S.
        tr
          td 8:00 - 8:30
          td <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAS4AAAAJDExZWE3YmMxLWE2YjItNGI4YS1iZGZiLTM4NjRhNDAyZjFkNA.jpg" style="vertical-align:middle;height:3em;width:3em;" /> Lillian S.
        tr
          td 8:30 - 9:00
          td
           a(href='volunteer',class='btn btn-primary') Volunteer
        tr
          td 9:00 - 9:30
          td Person X.
