extends layout

block content
  div.container
    p Sign-in to volunteer:
    p
      a(class='btn btn-primary', href='loginFacebook') Login with Facebook
    p
      a(class='btn btn-primary', href='loginGoogle') Login with Google
    p
      a(class='btn btn-primary', href='loginLive') Login with Microsoft