doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href="bootstrap/bootstrap+theme.min.css")
    script(src="javascripts/jquery-3.1.1.min.js")
    script(src="bootstrap/bootstrap.min.js")
  body
    .container
      br
      br
      .alert.alert-success(role='alert') !{unsubscribeText}
