body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

img.user
  vertical-align: middle;
  height: 3em;
  width: 3em;
  
#shifts td
  vertical-align: middle;
  
.shiftID
  display: none;